
* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-link {
    position: relative;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #ff8c00; /* Laranja */
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #ff8c00; /* Laranja */
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-brand .texto1{
    color: #1E3A8A;
}

.navbar-brand .texto2{
    color:#F97316 ;
    font-weight: 300;
}

.navbar-nav .btn {
    width: 120px;
    font-weight: 600;
    font-size: medium;
}

.bi-cart3{
    color: #000;
    cursor: pointer;
}

.bi-cart3:hover{
    color: darkgray;
}

.btn-login {
    background-color: #F97316;
    color: white;
    border: none;
}

.btn-login:hover {
    background-color: #FFA500;
    color: white;
}

.footer {
    background-color: #1E3A8A;
    color: #fff;
}

.footer .card-title{
    font-size: 15px;
}

.footer .card-text{
    line-height: 2;
    font-size: 8px;
}

.icon i {
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon:hover i {
    color: #6495ED;
    transform: scale(1.2);
}





