@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="texto">
        <p>TRANSFORMAMOS IDEIAS EM SOLUÇÕES DIGITAIS INCRÍVEIS</p>
        <button >Solicitar orçamento</button>
        <img src="" alt="imagem pessoas"/><p>+100 clientes satisfeitos<br /> em todo Brasil</p>
    </div>

    <div class="imagem">
        <img src="" alt="imagem inicial"/>
    </div>
</section>
